@import '../../styles/mixins';
// @import '../../styles/variables';

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;

  @include breakpoint('md') {
    grid-template-columns: repeat(12, 1fr);
  }
}

.column--main {
  padding-top: 4.5em;

  @include breakpoint('md') {
    grid-column-start: 2;
  }
}
