@import '../../styles/mixins';
@import '../../styles/variables';

.aside--tldr {
  grid-column: 2 / -1;
  // padding-top: 6em;

  @include breakpoint('md') {
    grid-column-start: 6;
    grid-column-end: 10;
  }

  @include breakpoint('lg') {
    grid-column-start: 8;
    grid-column-end: 12;
  }
}
