$brand-01: #ac6c53;
$brand-02: #1574a1;
$text-01: #843f24;
$text-02: #272525;

$ui-bg: #ede1d8;
// $ui-bg: #ebdfd5;
// $ui-bg: #e2d3cf;

$interactive-01: #d1b4a8;
$link-02: #a5c5b6;
$hover-02: #bad1c6;

// Timing variables
$easing: cubic-bezier(0.6, 0.04, 0.48, 0.96);
