@import '../../styles/mixins';
@import '../../styles/type';

.case__body {
  grid-column: 1 / -1;
  padding-top: 2em;

  @include breakpoint('md') {
    grid-column-start: 2;
    grid-column-end: 9;
  }

  @include breakpoint('lg') {
    grid-column-start: 2;
    grid-column-end: 7;
  }

  p {
    font-size: 1.125em;
    line-height: 1.5;
  }

  h2 {
    @include type-style('display-02');
  }
}
