@import '../../styles/mixins';
@import '../../styles/type';

.case__header {
  grid-column: 1 / -1;
  padding-top: 4em;

  @include breakpoint('md') {
    grid-column-start: 2;
    grid-column-end: 10;
  }

  @include breakpoint('lg') {
    grid-column-start: 2;
    grid-column-end: 6;
  }

  h1 {
    @include type-style('display-01');
    margin-top: 2rem;
  }

  time {
    font-size: 1.125rem;
  }
}

.case__intro {
  font-size: 1.5em;
  line-height: calc(4 / 3);
}

.case__stack {
  grid-column: 1 / -1;
  padding-top: 1em;

  @include breakpoint('md') {
    grid-column-start: 2;
    grid-column-end: 10;
  }

  @include breakpoint('lg') {
    padding-top: 4em;
    grid-column-start: 7;
    grid-column-end: 11;
  }
}
