@import '../../styles/mixins';
@import '../../styles/variables';

h1,
h2 {
  font-family: 'Roboto Mono', 'Inter', sans-serif;
}

h2 {
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 1.25em;
}

.site-name {
  margin: 0 auto 0.5em;
  text-transform: lowercase;
  line-height: 1.5;
  letter-spacing: -0.01em;
  font-size: calc(3em + 0.75vw);
  font-weight: 300;
}

.intro {
  max-width: min(100%, 56ch);
  line-height: calc(4/3);
  font-size: clamp(1em, 1vw, 1.25em);
}

.content__section {
  margin-bottom: 4em;

  @include breakpoint('lg') {
    &:first-child {
      margin-top: calc(3.5em + 4vw);
    }
  }
}

.card--exp {
  margin-bottom: 1.5rem;
  font-size: 0.875rem;
}

.card__header {
  display: flex;
  align-items: baseline;
}

.job__title,
.metadata {
  flex-shrink: 0;
}

.job__title {
  margin-right: 0.5em;
  font-size: 1em;
  font-weight: 600;
}

.metadata {
  opacity: 0.67;
}

.session__title {
  font-style: italic;
}

.session__details {
  display: block;
}

.award__title {
  font-weight: 600;
}

.award__link {
  transition: 300ms color ease-in-out, 300ms box-shadow $easing;
  box-shadow: inset 0 -0.375em 0 $interactive-01;
  text-decoration: none;
  color: $text-01;
  font-weight: 600;

  &:hover {
    box-shadow: inset 0 -0.875em 0 $hover-01;
  }
}

.award__icon {
  display: inline-flex;
  margin-top: -0.5em;
  margin-left: -0.125em;
}

.cover-img {
  padding-top: 2em;
}
