@import '../../styles/mixins';
@import '../../styles/variables';

//-------------------------------------
// Additional resets
//-------------------------------------

/* Default to full height of viewport
source: https://github.com/jensimmons/cssremedy/issues/70
*/

html {
  height: -webkit-fill-available; // https://twitter.com/bfgeek/status/1262465912025698304
}

html,
body {
  min-height: 100%;
  min-height: 100vh;
  min-height: -webkit-fill-available; // Vendor-prefixed value should affect
  // browsers that support it, fall back to 100vh,
  // then 100%
}

/* Consistent default fonts across browsers
source: https://github.com/sindresorhus/modern-normalize/blob/master/modern-normalize.css
*/

body {
  font-family:
    system-ui,
    -apple-system, // Firefox supports this but not `system-ui`
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji';
}

code,
kbd,
samp,
pre {
  font-family:
    ui-monospace,
    SFMono-Regular,
    Consolas,
    'Liberation Mono',
    Menlo,
    monospace;
  font-size: 1em;
}

//-------------------------------------
// Global styles
//-------------------------------------

body {
  background-color: $ui-bg;
  color: $text-01;
  font-family: 'Inter';
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;

  @include breakpoint('md') {
    grid-template-columns: repeat(12, 1fr);
  }
}

a:not([class]) {
  transition: 300ms color ease-in-out, 300ms box-shadow $easing;
  box-shadow: inset 0 -0.375em 0 $link-02;
  text-decoration: none;
  color: $text-02;
  font-weight: 600;

  &:hover {
    box-shadow: inset 0 -0.875em 0 $hover-02;
  }
}
