@import '../../styles/variables';

.navbar {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  height: 4.5rem;
}

.logomark {
  margin-top: auto;
  text-decoration: none;
  color: $ui-primary;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.25em;
  font-weight: 500;
}
