@import '../../styles/mixins';
@import '../../styles/variables';

h1,
h2 {
  font-family: 'Roboto Mono', 'Inter', sans-serif;
}

h2 {
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 1.25em;
}

.site-name {
  margin: 0 auto 0.5em;
  text-transform: lowercase;
  line-height: 1.5;
  letter-spacing: -0.01em;
  font-size: calc(3em + 0.75vw);
  font-weight: 300;
}

.content__section {
  margin-bottom: 4em;

  @include breakpoint('lg') {
    &:first-child {
      margin-top: calc(3.5em + 4vw);
    }
  }
}
